{% extends 'layout.html' %}

{% block head %}
<script src="../static/js/cities.js"></script>
{% endblock %}

{% block content %}
<div class="container login-container">
    <div>
        <div class="login-form-2 text-center">
            <h3>Patient Appointment</h3>
            <form name="patient" method="POST" action="/Appointment" id="form1">
                {{form.hidden_tag()}}

                <div class="form-group">
                    {{"Patient Name"}}
                    {{form.patient_name(class_="form-control",placeholder="Patient Name")}}
                    {% for err in form.patient_name.errors %}
                    <span style="color: red;">[{{ err }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{"Doctor Name"}}
                    {{form.doctor_name(class_="form-control",placeholder="Doctor Name")}}
                    {% for err in form.doctor_name.errors %}
                    <span style="color: red;">[{{ err }}]</span>
                    {% endfor %}
                </div>
              
                <div class="form-group">
                    {{"Enter Date"}}
                    {{form.date(class_="form-control",placeholder="CCYY-MM-DD")}}
                    {% for err in form.date.errors %}
                    <span style="color: red;">[{{ err }}]</span>
                     {% endfor %}
                </div>
                <div class="form-group">
                    {{"Enter Time"}}
                    {{form.time(class_="form-control",placeholder="HH:MM")}}
                    {% for err in form.time.errors %}
                    <span style="color: red;">[{{ err }}]</span>
                     {% endfor %}
                </div>
                <div class="form-group">
                    {{"Hemoglobin"}}
                    {{form.hemo(class_="form-control",placeholder="Hemoglobin")}}
                    {% for err in form.hemo.errors %}
                    <span style="color: red;">[{{ err }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{"BMI"}}
                    {{form.bmi(class_="form-control",placeholder="BMI")}}
                    {% for err in form.bmi.errors %}
                    <span style="color: red;">[{{ err }}]</span>

                    {% endfor %}
                </div>
                <div class="form-group">
                    {{"platelets"}}
                    {{form.platelets(class_="form-control",placeholder="platelets")}}
                    {% for err in form.platelets.errors %}
                    <span style="color: red;">[{{ err }}]</span>

                    {% endfor %}
                </div>
                <div class="form-group">
                    {{"Blood Sugar"}}
                    {{form.blood_sugar(class_="form-control",placeholder="Blood Sugar")}}
                    {% for err in form.blood_sugar.errors %}
                    <span style="color: red;">[{{ err }}]</span>

                    {% endfor %}
                </div>
                <div class="form-group">
                    {{"Blood Pressure"}}
                    {{form.blood_pressure(class_="form-control",placeholder="Blood Pressure")}}
                    {% for err in form.blood_pressure.errors %}
                    <span style="color: red;">[{{ err }}]</span>

                    {% endfor %}
                </div>
                <div class="form-group" style="display: inline;">
                    {{form.submit(class="btnSubmit")}}
                    <input type="button" class="btnSubmit text-center" value="🔃 Reset " onclick="Reset()"
                           style="float: right; width: 40%;"/>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function Reset() {
      document.getElementById("form1").reset();
    }





</script>
<script language="javascript">print_state("sts");</script>
{% endblock %}